* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* common */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    --line-clamp: 2;
}

a {
    text-decoration: none;
}
.content {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

:root {
    --primary-color:#1EBFC1;
}

/* header */
.header {
    margin-top: 44px;
    background-color: #fff;
}

.sticky {
    position: sticky;
    top:0px;
    z-index: 1;
}

.header .header-top {
    display: flex;
    align-items: center;
    /* background-color: var(--primary-color); */
    padding: 8px 0;
    /* background-color: #fff; */
}

.header .header-top .list-menu {
    margin-left:215px ;
    margin-right: 173px;
}

.header .header-top .list-menu ul {
    display: flex;
    column-gap: 3px;
}

.header .header-top .list-menu a {
    padding: 4px 17px;
    /* background-color: #1EBFC1; */
    color: #2F3A3B;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .header-top .list-menu li:first-child a {
    font-weight: 600;
}

.header .header-top .list-menu li:hover:not(:first-child) a{
    text-shadow: 1px 1px 2px #2F3A3B  ;
}

.header .header-top .login {
    display: flex;
    text-wrap: nowrap;

}

.header .header-top .login .sign-in  {
    display: flex;
    align-items: center;
    padding: 2px 4px ;
    /* background-color: #1EBFC1; */
    margin-right: 20px;
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .header-top .login .sign-in:hover {
    text-shadow: 1px 1px 2px #2F3A3B
}

.header .header-top .btn {
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    padding: 12px 23px;
    color:var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.header .header-top .btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* hero */
.hero {
    padding:50px 0 79px;
}

.hero .sub-hero {
    display: flex;
}

.hero .hero-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: auto 0; */
}

.hero .hero-left .icon {
    color: #767E7E;
    font-size: 1.4rem;
    font-weight: 400;
    /* margin-bottom: 18px; */
}

.hero .hero-left .title {
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
    /* margin-bottom: 46px; */
    margin-top: 18px;
}

.hero .hero-left .desc {
    width: 374px;
    color: #9DA6A5;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
    /* margin-bottom: 52px; */
    margin-top: 46px;
}

.hero .sub-hero .get-start {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero .sub-hero .get-start .btn-nd2 {
    display: flex;
    margin-right: 50px;
    color: #FFF;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
    min-width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1EBFC1;
}

.hero .sub-hero .get-start .btn-nd2:hover {
    opacity: 0.8;
}

.hero .sub-hero .get-start .action {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color:rgb(255, 254, 254);
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.hero .sub-hero .get-start .action:hover {
    opacity: 0.7;
}

.hero .sub-hero .get-start .play {
    width: 14px;
    height: 18px;
    background-color: var(--primary-color);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    rotate:90deg;
}

.hero .hero-right {
    margin-left: auto;
    position: relative;
}

.hero .hero-right .block .thumb {
    width: 576px;
    height: 631px;
    object-fit: cover;
    border-radius: 12px;
}

.hero .hero-right .courses a {
    position: absolute;
    top: 149px;
    left:-40px;
    width: 157px;
    height: 75px;
    background: #FEFEFD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
}

.hero .hero-right .courses .desc  {
    margin-left: 16px;
    width: 55px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .hero-right .sch a {
    position: absolute;
    top: 453px;
    bottom: 46px;
    left: -65px;
    flex-direction: column;
    border-radius: 24px;
    width:124px ;
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff;
}

.hero .hero-right .sch .desc {
    margin-bottom: 16px;
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .hero-right .avt {
    position: absolute;
    right: 45px;
    bottom: 41px;
    display: inline-flex;
    padding:0 35px;
    height: 90px;
    border-radius: 24px;
    background: #FEFEFD;
    justify-content: center;
    align-items: center;
}

.hero .hero-right .avt .desc {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
    text-align: center;
}

.hero .hero-right .avt .face {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hero .hero-right .avt .face:nth-child(2) {
    margin-left:0;
}

/* features */
.features {
    margin-top: 65px;
    padding: 65px 0;
}

.features .letter {
    letter-spacing: 8px;
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .title {
    width: 577px;
    margin: 18px 0;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}

.features .desc {
    width: 590px;
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
}

.features .list-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.features .list-columns .column {
    width:37%
}

.features .list-columns .column:nth-child(2) .img {
    background-color:#FF947A;
} 

.features .list-columns .column:nth-child(3) .img {
    background-color:#BF83FF;
} 

.features .list-columns .column .img {
    cursor: pointer;
    width: 102px;
    height: 106px;
    border-radius: 18px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .list-columns .column .img:hover {
    opacity: 0.8;
}

.features .list-columns .column .icon {
    width: 48px;
    height: 48px;
}

.features .list-columns .column .list {
    cursor: pointer;
    display: inline-block;
    margin: 26px 0 16px;
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .list-columns .column .desc {
    cursor: pointer;
    width: 168px;
    color: #9DA6A5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68; /* 168.75% */
}

/* courses */
.coursess{
    padding: 65px 0;
}

.coursess .list {
    letter-spacing: 8px;
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
}

.coursess .title {
    margin: 18px 0 19px;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.coursess .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coursess .desc {
    width: 525px;
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}

.coursess .view a {
    text-decoration: underline;
    color: #1EBFC1;
    font-size: 1.4rem;
    font-weight: 700;
}

.coursess .view:hover {
    opacity: 0.8;
}

.coursess .columns {
    display: flex;
    margin-top: 79px;
}

.coursess .sub-column {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 47px;
    width: 33.33%;
}

.coursess .sub-column .thumb {
    cursor: pointer;
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    background: #D0EFED;
}

.coursess .sub-column .thumb:hover {
    opacity: 0.7;
}

.coursess .sub-column .infor {
    cursor: pointer;
    position: absolute;
    bottom: -124px;
    justify-content: center;
    width: 325px;
    height: 195px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background-color:#fff;
}

.coursess .sub-column .infor:hover {
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.coursess .sub-column .infor .title {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.coursess .sub-column .infor .price {
    display: block;
    color: #767E7E;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 6px;
}

.coursess .sub-column .infor strong {
    margin-left: 5px;
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.coursess .sub-column .infor .desc {
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight: 400;
}

.coursess .sub-column .infor .date {
    display: flex;
    margin-top: 18px;
}

.coursess .sub-column .infor .class {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #9DA6A5;
    font-size: 1.4rem;
    font-weight:400 ; 
}

.coursess .sub-column .infor .class::before {
    content: " ";
    display: inline-block;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* number */
.number {
    margin-top: 135px;
    padding: 65px 20px;
}

.number .sub-number {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 202px;
}

.number .sub-number .column {
    cursor: pointer;
}

.number .sub-number strong {
    color: #0D1111;
    font-size: 62px;
    font-weight: 700;
}

.number .sub-number strong:hover {
    text-shadow: 1px 1px 3px #0D1111 ;
}

.number .sub-number .desc:hover {
    text-shadow: 1px 1px 3px #0D1111 ;
}

.number .sub-number .desc {
    margin-top: 3px;
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
}

/* susject */
.susject {
    margin-top: 135px;
    padding: 65px 0;
}

.susject .sub-susject {
    display: flex;
}

.susject .sub-left .desc {
    width: 419px;
    margin: 27px 0 33px ;
    color: #5D6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.susject .sub-left .student {
    display: flex;
    align-items: center;
    color: #767E7E;
    font-size: 1.6rem;
    font-weight: 400;
}

.susject .sub-left .student::before {
    content: " ";
    display: inline-block;
    margin-right: 4px;
    width: 8px;
    height: 2px;
    background: #070707;
}

.susject .sub-left span {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.susject .sub-left .next {
    display: flex;
    margin-top: 52px;
}

.susject .sub-left .next .next-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#2AC9BF;
    margin-right: 30px;
    color:#fff;
    cursor: pointer;
}

.susject .sub-left .next .next-left:hover {
    background-color: #fff;
    color: #2AC9BF;
    border: 1px solid #2AC9BF;
}

.susject .sub-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58%;
    margin-right: auto;
}

.susject .sub-right .sub-group {
    cursor: pointer;
}

.susject .sub-right .thumb {
    width: 235px;
    height: 235px;
    border-radius: 50%;
    object-fit: cover;
}

.susject .sub-right .item1 {
    position: absolute;
    top: -36px;
    left: 150px;
    width: 92px;
    height: 92px;
    object-fit: cover;
    border-radius: 50%;
}

.susject .sub-right .item2 {
    position: absolute;
    left: 0;
    bottom: 100px;
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

.susject .sub-right .item3 {
    position: absolute;
    left: 220px;
    bottom: -30px;
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}
.susject .sub-right .item4 {
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 50%;
}

.susject .sub-right .item5 {
    position: absolute;
    right: 50px;
    top: 0;
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}

/* realdy */
.realdy {
    margin-top: 65px;
    padding: 76px 0 88px;
    background-color:#DEF6F5 ;
}

.realdy .sub-realdy .realy-left {
    margin-right: 410px;
}

.realdy .sub-realdy {
    display: flex;
    align-items: center;
}

.realdy .sub-realdy .title {
    color: #070707;
    font-size: 4.2rem;
    font-weight: 700;
}

.realdy .sub-realdy .desc {
    margin-top: 3px;
    color: #767E7E;
    font-size: 1.8rem;
    font-weight: 400;
}

.realdy .sub-realdy .btn-realdy {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #2AC9BF;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
}

.realdy .sub-realdy .btn-realdy:hover {
    opacity: 0.8;
}

/* footer */
.footer {
    margin-top: 80px;
    padding: 50px 0;
}

.footer .row {
    display: flex;
    justify-content: space-between;
}

.footer .row .column {
    /* width: 22%; */
}

.footer .row .column .title a {
    margin-bottom: 28px;
    color: #2E2E2E;
    font-size: 1.8rem;
    font-weight: 500;
}

.footer .row .column a {
    display: inline-block;
    margin-bottom: 18px;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
}

.footer .row h4:hover,
.footer .row li:hover a {
    text-shadow: 1px 1px 1px #535353;
}

.footer .row .column li:last-child a {
    margin-bottom: 0;
}

.footer .row  .social {
    display: flex;
     cursor: pointer;
}

.footer .row  .social-img {
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#fff;
    column-gap: 9px;
}

.footer .row  .social-img img {
    display: inline-block;
    width: 9px;
    height: 12px;
}

.footer .row-bottom {
    margin-top: 80px;
}

.footer .row-bottom .desc {
    text-align: center;
    color: #B0B5B4;
    font-size: 1.8rem;
    font-weight: 400;
}




































